@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shape {
  border-radius: 5px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 5px 5px 10px #e3e3e3, -5px -5px 10px #ffffff;
}

.sticky {
  position: sticky !important;
  top: 10px !important;
}

.btnShape {
  background: #ffffff;
  box-shadow: inset 13px 13px 26px #cccccc,
              inset -13px -13px 26px #ffffff;
}

.jodit-content, .jodit-wysiwyg, .jodit-workplace {
  font-family: 'Reddit Sans', serif !important;
}

iframe{
  width: 100% !important;  
}

.scrollbarWidthThin{
  scrollbar-width: thin;  
}
.scrollbarWidthNone{
  scrollbar-width: none;
}

